// Root

:root {
    --landing-page-padding: 8rem;
    --landing-page-width: calc(100% - var(--landing-page-padding) * 2);
    --landing-page-heading-font: 'Poppins', sans-serif;
    --landing-page-copy-font: 'Open Sans', sans-serif;

    --color-primary: hsl(257, 40%, 49%);
    --color-primary-active: hsl(300, 69%, 71%);
}

@media only screen and (min-width: 1440px) {
    :root {
        --landing-page-width: 1280px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --landing-page-padding: 4rem;
    }
}

// Reset

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

// Landing Page

.landing-page {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.landing-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 71rem;
    padding-left: calc(50% - var(--landing-page-width) / 2);
    padding-right: calc(50% - var(--landing-page-width) / 2);
    margin-top: 6rem;
}

@media only screen and (min-width: 1280px) {
    .landing-page__container {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: repeat(3, max-content);
        text-align: left;
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .landing-page__container {
        margin-top: 3.8rem;
    }
}

// Landing Page - Header

.landing-page__header {
    align-self: flex-start;
    display: grid;
    grid-column-start: span 2;
    margin-bottom: 10rem;
}

@media only screen and (max-width: 500px) {
    .landing-page__header {
        margin-bottom: 6.6rem;
    }
}

// Landing Page - Body

.landing-page__illustration {
    margin-bottom: 5.6rem;
}

.landing-page__content {
    margin-bottom: 6.4rem;
}

.landing-page__title {
    font-family: var(--landing-page-heading-font);
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    line-height: 6rem;
    margin-bottom: 2.4rem;
    max-width: 52rem;
}

.landing-page__copy {
    font-family: var(--landing-page-copy-font);
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    line-height: 2.7rem;
    margin-bottom: 2.4rem;
    max-width: 52rem;
}

@media only screen and (min-width: 1280px) {
    .landing-page__illustration {
        margin-bottom: 0;
    }

    .landing-page__content {
        align-self: flex-start;
        padding-top: 3.2rem;
        margin-left: 5.6rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) {
    .landing-page__title {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .landing-page__copy {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

// Landing Page - Footer

.landing-page__footer {
    grid-column-start: span 2;
    margin: 2.5rem 0 4rem;
}

// Partials

@import '../components/logo/assets/logo';
@import '../components/button-cta/assets/button-cta';
@import '../components/social-networks/assets/social-networks.scss';